    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(135deg, #0f0cf9, #302b63, #24243e, #0f0cf9, #302b63, #24243e);
      color: white;
      
    }


      
        #typewriter {
            font-size: 20px;
            white-space: pre;
        }
       
        #typewriter::after {
            content: '|';
            animation: blink 1s step-end infinite;
        }
       
        @keyframes blink {
            50% {
                opacity: 0;
            }
        }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 50px;
    }

    .logo {
      font-size: 24px;
      font-weight: bold;
      font-family: 'Georgia', serif;
    }

    a{
      text-decoration:none;
      color: #fff;
    }

    nav  a {
      margin-left: 20px;
      text-decoration: none;
      font-size: 16px;
    }

    nav a:hover {
      color: lightblue;
    }

    .underline{
      text-decoration:underline;
    }

    .hero-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: auto;
    }

    .hero-text {
      flex: 1;
      min-width: 280px;
      padding-right: 20px;
    }

    .hero-img {
      flex: 1;
      min-width: 250px;
      text-align: center;
    }

    .hero-img img {
      width: 400px;
      height: 400px;
      clip-path:polygon(65% 0%, 100% 35%, 85% 85%, 35% 100%, 0% 60%, 15% 10%);
      object-fit: cover;
      border: 4px solid #ffcc00;
    }   

    .hero h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    .hero p {
      font-size: 1.2rem;
      color: #ccc;
      margin-bottom:10px;
    }

    .btn{
      color: #ffcc00;
      background: #1e1e2f;
      padding: 12px 24px;
      border: 2px solid ;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
    }

    .btn:hover {
      background-color: #2e2e3f;
      color:yellow;
    }

    .section {
      padding: 100px 20px;
      max-width: 1000px;
      margin: auto;
    }
    .progress-container {
      width: 50%;
      background: #333;
      border-radius: 25px;
      overflow: hidden;
      margin-bottom: 20px;
    }

    .progress-bar, .progress-bar1, .progress-bar2, .progress-bar3 {
      height: 10px;
      width: 0;
      background: linear-gradient(90deg, #5c39f8, #d286f5);
      animation: fillBar 3s forwards;
    }

.progress-bar1{
animation: fillBar1 3s forwards;
}

.progress-bar2{
animation: fillBar2 3s forwards;

}

.progress-bar3 {
animation: fillBar3 3s forwards;
}


    @keyframes fillBar{
      to { width: 95%; } /* Change this value to set progress level */
    }



    @keyframes fillBar2{
      to { width: 70%; } /* Change this value to set progress level */
    }


    @keyframes fillBar1{
      to { width: 80%; } /* Change this value to set progress level */
    }


    @keyframes fillBar3{
      to { width: 90%; } /* Change this value to set progress level */
    }



    .label {
      margin-bottom: 5px;
    }

.tools {
   display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
text-align:center;
justify-content:center;
}

.badge3,.badge1, .badge2,.badge4 {

font-family:Agency FB;
  color: #fff;
height:30px;
  padding: 10px 14px;
 padding-bottom:35px;

  font-size: 20px;
  font-weight: bold;
  box-shadow: -100px 30px 100px 50px rgba(0,100,255,1);
  transition: transform 0.3s;

}

.badge3{
background: linear-gradient(to right, #dfbf42 50%, #F0DB4F 50%);
clip-path:polygon(0% 0%, 100% 0%, 95% 80%, 55% 100%, 15% 85%);

color:black;

}
.badge1{

background: linear-gradient(to right, #E44D26 50%, #F16529 50%);

clip-path:polygon(0% 0%, 100% 0%, 95% 80%, 55% 100%, 15% 85%);
}
.badge2{
background: linear-gradient(to right, #264de4 50%, #2965f1 50%);
clip-path:polygon(0% 0%, 100% 0%, 95% 80%, 55% 100%, 15% 85%);
}


.badge4{

background: linear-gradient(135deg, #004e92, #000428);

}


    h2 {
      text-align: center;
      color: #ffcc00;
      margin-bottom: 30px;
    }

    .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 20px;
    }

    .projects p{
      color:rgb(0, 0, 0);
    }

    .card {
      background: #ffffff;
      border-radius: 10px;
      padding: 30px 20px;
      transform: translateY(30px);
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.5s ease;
    }

     .card.show:hover {
      transform: translateY(-5px);
    }


    .card.show {
      transform: translateY(0);
      opacity: 1;
    }

    .card h3 {
      margin-bottom: 10px;
      color: #ffcc00;
    }
 .testimonial-section {
      
      margin: auto;
      background: linear-gradient(135deg,#1e1e2f, #000428);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    .testimonial {

      margin-bottom: 20px;
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;
    }
    .customers{
      border-radius: 50%;
    }
    .stars {
      color: gold;
      font-size: 18px;
    }

    .name {
      
      font-weight: bold;
      margin-bottom: 5px;
    }

    .comment {
      margin-top: 5px;
    }

    .contact {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
    }

    .contact-content {
      width:100%;
    }

    .contact input, .contact textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 2px solid white;
      border-radius: 15px;
      background-color:rgba(0, 0, 0, 0);
    }

    footer {
      text-align: center;
      padding: 20px;
      background: #111;
      font-size: 0.9rem;
      color: #888;
    }


      @media (max-width: 600px) {
    nav {
      display: flex;
      flex-wrap: wrap;
    }

    nav a {
      font-size:13px;
      margin: 5px;
    }

    .hero-content {
      flex-direction: column-reverse;
      text-align: center;
    }

    .hero-text {
      padding: 0;
    }

    .hero-img {
      margin-bottom: 20px;
    }
      hero h1 {
      font-size: 2rem;
    }

    .contact {
      grid-template-columns: 1fr ;
    }
      }
